@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
  background-color: #979797;
  color: #fff;
  margin: 0;
  padding: 0;}

.page {
  max-width: 640px;
  margin: 0 auto 30px auto;}

.panel {
  background-color: #fff;
  color: #666;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;}

button {
  border: none;}

/********** LOGO **********/
h1 {
  text-align: center;
  width: 200px;
  height: 100px;
  margin: 40px auto 40px auto;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;}

/********** TYPOGRAPHY **********/
body, button {
    font-family: 'Jacques Francois', serif;}

h2, h3 {
  font-weight: normal;
  margin: 0;}
h2 {
  height: 1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-size: 100%;
  line-height: 1em;
  padding: 5px 0 0 5px;}
h3 {
  font-size: 90%;
  letter-spacing: 0.2em;}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 1em;}

a {
    text-decoration: none;}

button {
  font-size: 90%;
  text-align: left;
  text-transform: uppercase;}

  * {
    font-family: Arial, Verdana, sans-serif;
    color: #010101;
    text-align: center;}

  body {
    width: 100%;
    margin: 0 auto;
}

#content {
    overflow: auto;

}

.column1, .column2, .column3, .column4, .column5, .column6 {
    width: 30.5%;
    text-align: center;
    color: white;
    float: left;
    border: solid 3px #efefef;
    margin-left: 2%;
    margin-top: 5%;
    background-color: burlywood;
    padding-bottom: 1em;
}
.column3 .column6 {
    margin-right: 0%;
}
.column1 {
    background-color: aqua;
    padding-bottom: 1em;
    max-height: max-content;
}
.column2 {
    background-color: blueviolet;
}
.column3 {
    background-color: brown;
}
.column4 {
    background-color: darkslategray;
    ;
}
.column5 {
    background-color:cornsilk;
}

tr, th, td, a {
    color: black;
}

a {
  text-decoration: underline;
  color: blue;
}
